*{
  margin: 0;
  padding: 0;
}

body,html{
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}


/*https://webdesign.tutsplus.com/tutorials/how-to-create-a-frosted-glass-effect-in-css--cms-32535*/
body{
  margin: 10px auto;
  min-width: 40rem;
  max-width: 40rem;
  min-height: 40rem;
  max-height: 40rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(15px);
}

.head{
  background-color: #7171e9;
  color: rgb(235, 220, 220);
  padding: 1rem 0; 
  text-align: center;
  border-radius: 15px 15px 0 0;
}



