
.input__form{ 
    padding: 1rem 0 0 0;
    margin: 0 auto;
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
}

.input__field{
    color: grey;
    width: 100%;
    border-radius: 50px;
    padding: 10px 15px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px lightgray;
}

.input__field:focus{
    background-color: whitesmoke;
    outline: none;
}

.input_go{
    font-family: monospace;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 20px;
    border-radius: 50%;
    border: none;
    right: 0px;
    background-color: lightgreen;
    transition: 0.2s all;
    box-shadow: 0 0 5px lightgreen;
    cursor: pointer;
}

.input_go:hover{
    background-color: rgb(113, 233, 113);
    box-shadow: 0 0 5px rgb(113, 233, 113);
}

.input_go:active{
    transform: scale(0.8);
}

.date_icon_span{
    cursor: pointer;
}